[project]
	description = This a general quiz
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group project_bmsce
	owner = group user/Anubhav Choudhary (anubhavcc)
[access "refs/for/refs/*"]
	read = group project_bmsce
	read = group user/Anubhav Choudhary (anubhavcc)
	push = group project_bmsce
	push = group user/Anubhav Choudhary (anubhavcc)
	label-Code-Review = -2..+2 group project_bmsce
	label-Code-Review = -2..+2 group user/Anubhav Choudhary (anubhavcc)
	label-Verified = -1..+1 group project_bmsce
	label-Verified = -1..+1 group user/Anubhav Choudhary (anubhavcc)
	rebase = group user/Anubhav Choudhary (anubhavcc)
	removeReviewer = group project_bmsce
	removeReviewer = group user/Anubhav Choudhary (anubhavcc)
	submit = group project_bmsce
	submit = group user/Anubhav Choudhary (anubhavcc)
[access "refs/heads/*"]
	read = group project_bmsce
	read = group user/Anubhav Choudhary (anubhavcc)
	create = group project_bmsce
	create = group user/Anubhav Choudhary (anubhavcc)
	push = group project_bmsce
	push = +force group user/Anubhav Choudhary (anubhavcc)
	pushMerge = group project_bmsce
	pushMerge = group user/Anubhav Choudhary (anubhavcc)
[access "refs/tags/*"]
	push = group project_bmsce
	push = group user/Anubhav Choudhary (anubhavcc)
	push = +force group user/Anubhav Choudhary (anubhavcc)
