[project]
	description = This a general quiz
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anubhav Choudhary (anubhavcc)
[access "refs/for/refs/*"]
	read = group user/Anubhav Choudhary (anubhavcc)
	push = group user/Anubhav Choudhary (anubhavcc)
	label-Code-Review = -2..+2 group user/Anubhav Choudhary (anubhavcc)
	label-Verified = -1..+1 group user/Anubhav Choudhary (anubhavcc)
	rebase = group user/Anubhav Choudhary (anubhavcc)
	removeReviewer = group user/Anubhav Choudhary (anubhavcc)
	submit = group user/Anubhav Choudhary (anubhavcc)
[access "refs/heads/*"]
	read = group user/Anubhav Choudhary (anubhavcc)
	create = group user/Anubhav Choudhary (anubhavcc)
	push = +force group user/Anubhav Choudhary (anubhavcc)
	pushMerge = group user/Anubhav Choudhary (anubhavcc)
[access "refs/tags/*"]
	push = group user/Anubhav Choudhary (anubhavcc)
	push = +force group user/Anubhav Choudhary (anubhavcc)
